# .gitlab-ci.yml
# Build frameworks nightly wheels on Aurora.
include:
  - project: 'anl/ci-resources/defaults'
    ref: main
    file:
      - '/runners.yml'

stages:
  - nightly_build

variables:
  # build in /tmp instead of on Lustre
  BUILD_ROOT: "/tmp/frameworks-nightly/builds"
  # where to collect logs and wheels on Lustre
  REMOTE_ROOT: "/lus/flare/projects/datascience/ewong/.frameworks-nightly"
  # clone submodules
  GIT_SUBMODULE_STRATEGY: recursive
  HTTP_PROXY:  "http://proxy.alcf.anl.gov:3128"
  HTTPS_PROXY: "http://proxy.alcf.anl.gov:3128"
  http_proxy:  "http://proxy.alcf.anl.gov:3128"
  https_proxy: "http://proxy.alcf.anl.gov:3128"

nightly_wheels:
  stage: nightly_build
  extends: .aurora-shell-runner
  # scheduler parameters
  variables:
    ANL_AURORA_SCHEDULER_PARAMETERS: "-A datascience -l select=1,walltime=06:00:00,filesystems=home:flare -q prod"
  script:
    - cd frameworks-standalone/nightly_wheels
    - ./pytorch.sh

  artifacts:
    name: "nightly-wheels-${ENV_NAME}"
    when: always
    expire_in: never
    paths:
      - artifacts/**/*
