# Build, package, and test the Frameworks SDK from {Aurora,Sunspot}
include:
  - local: 'templates/common.yml'

  # Nightly Wheels
  - local: 'templates/nightly-wheel.yml'
    inputs:
      wheel: torch
  - local: 'templates/nightly-wheel.yml'
    inputs:
      wheel: intel_extension_for_pytorch
      flags: -t *.whl
      needs: [torch]
  - local: 'templates/nightly-wheel.yml'
    inputs:
      wheel: oneccl_bind_pt
      flags: -t *.whl
      needs: [torch]
  - local: 'templates/nightly-wheel.yml'
    inputs:
      wheel: mpi4py
