# Python dependency packages for PyTorch-2.8.0 and IPEX-release/xpu/2.8.10(08/18/2025) 
# Removed cmake as we want to depend on system-wide installation, but ran into 
# cmake configuring issue. So bringing it back and trying the conda cmake
astunparse
cmake
expecttest>=0.3.0
filelock
fsspec
hypothesis
jinja2
lintrunner ; platform_machine != "s390x"
networkx
ninja
## This is a special requirement, as I built my PyTorch wheel with numpy==2.0.2
numpy==2.0.2
optree>=0.13.0
packaging
psutil
pytest
pyyaml
requests
## ruamel is needed by IPEX but not mentioned anywhere!
ruamel.yaml==0.18.6
scipy>=1.8.0
## PyTorch wants setuptools<=75.8.2
## IPEX wants setuptools==72.1.0
setuptools==72.1.0
sympy>=1.13.3
types-dataclasses
typing_extensions
## PyTorch wants a specific version of typing-extensions, IPEX has no restrictions
typing-extensions>=4.10.0
